# Зависимости
node_modules/
/my-vue-project/node_modules/

# Виртуальное окружение (если используется)
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы окружения
.env
.env.local

# Логи
*.log

# Редакторы и IDE
.vscode/
.idea/